body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.chat-bot {
    background-color: #1e1f2b;
    width: 75vw;
    height: 75vh;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
}

.header {
    background-color: #6785FF;
    width: 130px;
    height: 100%;
    border-radius: 30px 20px 20px 30px;
    border: solid 10px #1e1f2b;
    box-sizing: border-box;
    position: relative;
}

.info-container {
    padding: 15px;
}

.info-container svg {
    padding: 30px;
    height: 15px;
    width: 15px;
}

.tick {
    background-color: #1e1f2b;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: absolute;
    top: 113px;
    right: -15px;
}

.messaging-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    padding-left: 0;

    &, * {
        box-sizing: border-box;
    }
}

.bubble {
    width: 90%;
    color: #fff;
    padding: 20px 10px;
    margin: 10px;
}

.bubble.question {
    background-color: #303247;
    border-radius: 30px 30px 30px 0;
}

.bubble.response {
    background-color: #6785FF;
    border-radius: 30px 30px 0 30px;
    margin-left: 5%;
}

.feed {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow: auto;
    padding-bottom: 12px;
}

.submit-container {
    form {
        display: flex;
    }

    textarea {
        font: inherit;
        flex: 1;
        background-color: #303247;
        border: radius 20px;
        border: none;
        padding: 10px 16px;
        color: #fff;
        resize: none;
        outline: none;
    }

    input[type=submit] {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        width: 40px;
        border: none;
        border-radius: 20px;
        padding: 12px 32px;
        background-color: #6785FF;

        &:hover {
            cursor: pointer;
            background-color: #5c77e5;
        }

        &:active {
            background-color: #526acc;
        }
    }
}

